*.$$$
*.bak
*.cbk*
*.dcu
*.ddp
*.dof
*.drc
*.dsk
*.identcache
*.local
*.map
*.otares
*.rsm
*.stat
*.tmp
*.vlb
*.~*
*.exe
*.rsm
*.csv
*.ini
__history
__recovery
*.ico
*.identcache
*.exe
*.log
*.csv
*.xml